<div class="container text-center">
    <h1> Welcome Back, {{user.username}}</h1>
</div>

<div class="container form new-blog-post">
    <div class="row">
        <h3> Generate a new Blog Post </h3>
        <form class="form new-blog-form">
            <div class="mb-3">
                <label for="post-title" class="form-label">Blog Title: </label>
                <input type="text" class="form-control" id="post-title" placeholder="Next Viral Blog Post">
            </div>
            <div class="mb-3">
                <label for="post-title" class="form-label">Copy and Paste your blog post here</label>
                <textarea type="text" class="form-control" id="post-content" rows="4"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
        </form>
    </div>
</div>



<div class="container">
    <div id="past-posts" class="mb-3">
        <h3> Past Blog Posts </h3>
        {{#if posts.length}}

        {{#each posts as |post|}}
        <div id="cardstyling" class="card w-100">
            <div  class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{ post.date_created}} </h6>
                <p class="card-text">{{post.content}}</p>
            </div>
        </div>

        {{/each}}
    </div>
    {{/if}}
</div>
<link rel="stylesheet" href="/css/styling.css">


<script src="./js/dashboard.js"></script>